asgiref==3.8.1
Django==4.1.2
djangorestframework==3.15.1
gunicorn==22.0.0
Markdown==3.6
packaging==24.0
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.1
celery
django-celery-beat
python-dotenv
mysqlclient
cryptography
django-cors-headers
django-celery-results
djangorestframework-simplejwt
setuptools
oracledb
requests
gunicorn